.shell {
  display: flex;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: 22px;
  max-width: 1800px;
  width: 100%;
}

@media (max-width: 900px) {
  .shell {
    flex-direction: column;
  }
  .main {
    padding: 16px;
  }
}
